/build
/build/tsc/**/*.cjs
/build/tsc/**/*.cjs.map
/build/tsc/**/*.d.cjs
/build/tsc/**/*.d.js
/build/tsc/**/*.d.jsx
/build/tsc/**/*.d.mjs
/build/tsc/**/*.js
/build/tsc/**/*.js.map
/build/tsc/**/*.jsx
/build/tsc/**/*.jsx.map
/build/tsc/**/*.mjs
/build/tsc/**/*.mjs.map
/build/tsc/.timestamp.*
/build/tsc/.tsbuildinfo
/dist
/node_modules
/docs
