/build
/dist/core
/dist/internal/typefinity-*.js
/dist/internal/typefinity-*.js.map
/dist/internal/typefinity-*.zip
/dist/internal/src
/dist/node
/dist/web
/node_modules
/src/core/resources/file-templates.ts

/dist/include
/temp
