${abc}
$abc
`
\

#-----------------------------------------------------------------------------------------------------------------------
# Temporary build artifacts
#-----------------------------------------------------------------------------------------------------------------------

/build
/dist

#-----------------------------------------------------------------------------------------------------------------------
# Package manager
#-----------------------------------------------------------------------------------------------------------------------

/node_modules

/.yarn/*
!/.yarn/releases
!/.yarn/plugins
/.pnp.*
